* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.medium-green {
    color: #00A3A8;
}

.bg-medium-green {
    background-color: #00A3A8;
}

.dark-green {
    color: #184A4B;
}

.fs-22 {
    font-size: 22px;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

ul.header {
    list-style-type: none;
}

li.header-list {
    display: inline;
}

a {
    text-decoration: none !important;
    color: black !important;
}

/* .breadcrumb-item {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
} */

/* .breadcrumb-item a {
    color: #184A4B !important;
} */

.breadcrumb-item.active {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img-selector::-webkit-file-upload-button {
    visibility: hidden;
}
.img-selector {
    content: '';
    width: 140px;
    outline: none;
    display: flex;
    cursor: pointer;
    color: #DBDEE2;
    aspect-ratio: 1/1;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    -webkit-user-select: none;
    user-select: none;
    border: 1px dashed #DBDEE2;
}
.img-selector:hover {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.img-selector ion-icon {
    font-size: 32px;
}

/* tbody td tfoot th thead tr {
    border-style: none !important;
} */

.table thead tr th {
    border-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px !important;
}

.table tbody tr td {
    border-style: none;
    border-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px !important;
}
